<footer class="footer">
    <div class="container">

        <p class="text-center">
            {{ site.title }} {{ site.time | date: '%Y' }} - 
            Powered by <a href="https://www.josephstar.net">JosephStar Inc.</a> | 
            <a href="{{ site.twitter_url }}"><i class="fa fa-twitter fa-fw" aria-hidden="true"></i></a>
            <a href="{{ site.github_url }}"><i class="fa fa-github fa-fw" aria-hidden="true"></i></a>
            <a href="{{ site.linkedin_url }}"><i class="fa fa-linkedin fa-fw" aria-hidden="true"></i></a>
            <a href="{{ site.telegram_url }}"><i class="fa fa-telegram fa-fw" aria-hidden="true"></i></a>
            <a href="{{ site.medium_url }}"><i class="fa fa-medium fa-fw" aria-hidden="true"></i></a>
            <a href="{{ site.slack_url }}"><i class="fa fa-slack fa-fw" aria-hidden="true"></i></a>
            <a href="{{ site.blog_url }}"><i class="fa fa-wordpress fa-fw" aria-hidden="true"></i></a>
            <a href="{{ site.coinmarketcap_url }}"><i class="fa fa-bitcoin fa-fw" aria-hidden="true"></i></a>
            <a href="{{ site.reddit_url }}"><i class="fa fa-reddit fa-fw" aria-hidden="true"></i></a>
            <a href="{{ site.bitcointalk_url }}"><i class="fa fa-volume-up fa-fw" aria-hidden="true"></i></a>
            
        </p>
        
        <!-- <p class="text-muted">Place sticky footer content here.</p> -->
        
    </div>
  
</footer>
