<footer class="footer">
    <div class="container">

        <p class="text-center">
            {{ site.title }} {{ site.time | date: '%Y' }} - 
            Powered by <a href="https://www.josephstar.net">JosephStar Inc.</a> | 
            <a href="{{ site.twitter_url }}"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="{{ site.github_url }}"><i class="fa fa-github" aria-hidden="true"></i></a>
            <a href="{{ site.linkedin_url }}"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            
        </p>
        
        <!-- <p class="text-muted">Place sticky footer content here.</p> -->
        
    </div>
  
</footer>
