<footer class="footer">
    <div class="container">

        <p class="text-center">
            {{ site.title }} {{ site.time | date: '%Y' }} |
            Powered by <a href="https://www.josephstar.net">JosephStar Inc.</a>
        </p>
        
        <!-- <p class="text-muted">Place sticky footer content here.</p> -->
    </div>
    
    <div class="container">
        
        <p class="text-center">
            <ul class="list-inline">
          
          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}"><i class="fa fa-twitter fa-fw fa-2x"></i></a>
          </li>
          
          <li>
            <a href="https://t.me/{{ site.telegram_username }}"><i class="fa fa-paper-plane fa-fw fa-2x"></i></a>
          </li>
          
          <li>
            <a href="https://github.com/{{ site.github_username }}"><i class="fa fa-github fa-fw fa-2x"></i></a>
          </li>
          
          <li>
            <a href="https://linkedin.com/company/{{ site.linkedin_username }}"><i class="fa fa-linkedin fa-fw fa-2x"></i></a>
          </li>
          
          <li>
            <a href="{{ site.baseurl }}{{ site.blog_url }}"><i class="fa fa-wordpress a-fw fa-2x"></i></a>
          </li>
          
          
        </ul>
        </p>    
        
        
    </div>    
</footer>
